.root {
    -fx-bgc: #121212; /* Dark gray recommended dark theme background color - Material Design */
    -fx-bgc-alt: #242424;
    -fx-pc: #7C4DFF; /* Deep Purple 50 A200 - Material Design */
    -fx-sc: #448AFF; /* Blue 50 A200 - Material Design */
    -fx-sc-uf: #588be0;
    -fx-txt: #FFFFFF;
}

* {
    -fx-background-color: -fx-bgc;
    -fx-text-fill: -fx-txt;
    -fx-font-size: 12px;
    
    /* Everything in regular CSS format is only there for compatibility reasons */
    background-color: -fx-bgc;
    color: -fx-txt;
    font-size: 12px;
}

.table-column {
    -fx-alignment: CENTER;
}

.table-row-cell {
    -fx-table-cell-border-color: -fx-txt;
}

.table-row-cell:selected {
    -fx-background-color: -fx-pc;

    background-color: -fx-pc;
}

.table-view .column-header-background, .table-view .column-header-background .filler, .table-view .corner {
    -fx-background-color: -fx-bgc;

    background-color: -fx-bgc;
}

.table-row-cell:filled:even .table-column:filled,
.table-row-cell:filled:even .table-column,
.table-row-cell:even .table-column:filled {
    -fx-background-color: -fx-bgc;
    -fx-selection-bar: -fx-pc;
    -fx-selection-bar-non-focused: -fx-pc;

    background-color: -fx-bgc;
}

.table-row-cell:filled:odd .table-column:filled,
.table-row-cell:filled:odd .table-column,
.table-row-cell:odd .table-column:filled {
    -fx-background-color: -fx-bgc-alt;
    -fx-selection-bar: -fx-sc;
    -fx-selection-bar-non-focused: -fx-sc;

    background-color: -fx-bgc-alt;
}

.button {
    -fx-alignment: CENTER;
    -fx-border-color: -fx-txt;
    -fx-border-radius: 5px;
    -fx-border-insets: 5px;
    -fx-padding: 5px;
    -fx-spacing: 5px;
    -fx-font-weight: bold;

    border-color: -fx-txt;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

#descriptionText {
    -fx-text-fill: -fx-txt;
    -fx-font-size: 12px;

    color: -fx-txt;
    font-size: 12px;
}

#numRuns {
    -fx-alignment: CENTER;
    -fx-border-color: -fx-txt;
    -fx-border-radius: 5px;
    -fx-border-insets: 5px;
    -fx-padding: 5px;
    -fx-spacing: 5px;
    
    border-color: -fx-txt;
    border-radius: 5px;
    padding: 5px;
}

#numRunsLab {
    -fx-padding: 5px;
    -fx-spacing: 5px;
    -fx-font-weight: bold;
    -fx-font-size: 24px;

    padding: 5px;
    font-weight: bold;
    font-size: 24px;
}